body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;  
    color: #999999;
}

a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}


/* BLOCK-1*/
h1 {
    font-size: 150px; 
    line-height: 140px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
}

.header {
    height: 1000px;
    background: url(../img/header-bg.png) no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 1px;
}

.header li {
    list-style-type: none;
}

.wrap {
    max-width: 1220px;
    margin: 0 auto;
}

.wrap>h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 150px;
    margin-top: 121px;
    text-align: center;
    letter-spacing: -4.9px;
    max-width: 840px;
    padding-right: 19px;
    color: #fff;
}

h1 span {
    font-family: 'Kaushan Script', cursive;
    display: block;
    font-size: 72px;
    text-transform: capitalize;
    margin-bottom: 8px;
    letter-spacing: 0.1px;
    font-weight: 400;
}

.button {
    border: 4px solid #fff;
    padding: 7px 26px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.btn {
    text-align: center;
    padding-top: 16px;
    padding-right: 23px;
}

.aside {
    margin-left: auto;
    margin-right: auto;
    max-width: 1222px;
    height: 223px;
}

.aside>ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding: 0px;
}

.aside ul li {
    padding-bottom: 22px;
    padding-right: 156px;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
}

.aside span {
    font-size: 24px;
    padding-right: 8px;
    font-weight: 700;
}

/*NAV*/
.nav {
    display: flex;
    letter-spacing: 0px;
    font-size: 14px;
    margin-top: 6px;
    padding: 0;
    text-transform: uppercase;
}

.nav-item {
    color: #fff;
    letter-spacing: 0.1px;
    padding-right: 54px;
    font-weight: 400;
    font-size: 14px;
}

.nav-item:hover {
    color: #fce38a;
    border: none; 
    color: #fce38a; 
    height: 2px;
}

.nav-item-icon {
    padding-right: 38px;
}

.box-header {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    align-items: flex-start;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.search {
    background: url(../img/search.png) no-repeat;
    height: 18px;
}

.basket {
    background: url(../img/basket.png) no-repeat;
    height: 15px;
    padding-right: 22px;
}

h2 {
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

h2 span {
    padding-bottom: 20px;
    display: block;
    font-family: 'Kaushan Script', cursive;
    text-transform: none;
    font-size: 24px;
}


/* LIST */
.list-stat li {
    list-style-type: none;
}

.list-stat {
    margin-left: 0px;
    padding-left: 0px;
}

.list-stat>li>span {
    font-size: 72px;
    display: block;
    padding-bottom: 29px;
}

.list-stat>li {
    font-size: 14px;
    text-transform: uppercase;
}

.img-grid {
    display: block;
    float: left;
    margin: 8px 30px 20px 0;
}

.txt-grid h3 {
    font-size: 14px;
    text-transform: uppercase;
}

.txt-grid p {
    font-size: 15px; 
}

.grid-item {
    max-width: 400px;
}

.app {
    margin-top: 100px;
}


/* PAGE */
.page-faq img{
    display: block;
    float: left;
}

.page-comments {
    display: block;
    margin-top: 300px;
}

.page-comments img {
    margin-right: 60px;
    float: left;
}

.page-comments p {
    max-width: 757px;
    
}

.page-comments p span {
    display: block;
    text-transform: capitalize;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #000;
    margin-top: 24px;
}

.page-team {
    margin-top: 100px;
}

.page-team-text {
    max-width: 1100px;
    text-align: center;
    margin: 0 auto;
}

figcaption {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

figcaption span {
    display: block;
    text-transform: capitalize;
    color: #999999;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
}

/* BLOCK-2*/



/* FAQ */
.faq_list{
    position: relative;
    color: #192430; 
}
.faq_item{
    box-sizing: border-box;
    border-left: 8px solid #a2adb6;
    padding: 10px 0 10px 15px;
}
.faq_item_title{
    box-sizing: border-box;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
}
.faq_show_all .faq_item_title{
    font-weight: 900;
    padding-left: 23px;
    margin-top: 20px;
}
.faq_item_title_inner{
    display: inline-block;
    position: relative;
    padding: 0 60px 0 0;
    cursor: pointer;
}
.faq_item_title_inner:hover:before{
    transform: translateY(1px);
}
.faq_item_title_inner:before{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    background: url(../ima/faq_arrow_down.png) no-repeat center center;
    cursor: pointer;
    transition: .2s;
    transition-timing-function: ease-in-out;
}
.faq_item_title_inner.open:before{
    transform: rotate(180deg);
}
.faq_item_body{
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    display: none;
}

/**/